<div class="d-flex justify-content-between">
    <section class="col-6">
        {% if messages %}
        <ul class="messages" hx-get="{% url 'clear' %}" hx-trigger="load delay:3s">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}


        {% if tasks %}


        {% csrf_token %}
        <form class="sortable list-group" hx-trigger="end" hx-post="{% url 'sort' %}" hx-target="#task-list">
            <div class="htmx-indicator">Updating...</div>
            
        </form>

        {% include 'partials/task-list-element.html' with tasks=tasks %}
        
        {% else %}
        <p>There are no current tasks</p>
        {% endif %}

    </section>


    <section class="col-4 offset-1">
        {% include 'partials/search.html' %}
    </section>
</div>

{% if request.method == 'POST' %}
<input type="text" hx-swap-oob="true" id="taskname-input" name="taskname" class="form-control-sm mr-2"
    placeholder="Enter a task" />
{% endif %}